table {
  margin: 0;
  width: 100%;
}

table tbody tr {
  background-color: var(--bg) !important;
}

table td {
  border: 1px var(--fg) solid;
}

table thead th {
  border: 1px var(--fg) solid;
  background-color: var(--table-header-bg)
}

table td hr {
  color: var(--talbe-border-color);
}
